@import "tailwindcss";
@theme {
  --color-headersColor: #f72d2d;
  --color-portfolioText: #202020;
  --color-portfolioText2: #646464;
  --color-portfolioBackground: #FCFCFC;
  --color-portfolioBackground2: #F9F9F9;
  --color-componentColor: #F0F0F0;
  --color-componentColor2:#E8E8E8;
  --color-componentColor3: #E0E0E0;
  --color-borderColor:#D9D9D9;
  --color-borderColor2:#CECECE;
  --color-borderColor3:#BBBBBB;
}
